<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visita Japón</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css' ) }}">
</head>
<body>
    <!--Código barra de navegación-->
    <header>
        <div class="container_1">
            <h2><span>CONOCE </span>Japón</h2>
            <nav class="nav">
                <div class="barra-nav">
                    <a href="#" class="link_barra">Inicio</a>
                    <a href="#" class="link_barra">Conoce más</a>
                    <a href="#" class="link_barra">Fotos</a>
                    <a href="#" class="link_barra">De interés</a>
                    <a href="#" class="link_barra">Contáctanos</a>
                    <a href="#" class="link_barra">Autor</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <!--Código página de Inicio-->
        <section id="seccion_1" class="banner-inicio">
            <div class="parrafo">
                <h1 class="parte1">Viaja ahora al<br class="hide-mob" />
                    <span class="parte2">país del sol naciente</span></h1>
                <br>
                <h3 class="parte3">Descubre más sobre este hermoso país a continuación</h3>
            </div>
        </section>
    
        <!--Código de la presentación-->
        <section id="seccion_2" class="introduccion">
            <div class="container_2">
                <h1 class="titulo_intro">Simplemente Japón</h1>
                <p class="presentacion">Japón es un país muy rico en cultura, gastronomía, historia y anime. La tierra de las geishas y los samurái tiene mucho para ofrecer a los turistas, por lo que nunca te faltará qué hacer durante tu estadía. 
                    <br>
                    <br>
                    Aprovecha para visitar uno de los muchos templos del país. Dentro de los templos es común encontrar una combinación entre las creencias sintoístas y budístas propia de Japón. Estás grandes construcciones con sus pagodas y estatuas pueden brindarte una gran experiencia espiritual muy completa. Además, siguiendo con la parte cultural,
                    puedes aprender sobre las geishas y la historia de los samurái.
                    <br>
                    <br>
                    Por otro lado, si lo tuyo es más el anime, puedes visitar las distintas tiendas oficiales. Una de las ventajas de estas tiendas es que puedes encontrar productos oficiales de tus animes favoritos, como One Piece, Dragon Ball, Naruto y Pokemón, (mucha de la mercancía las encontrarás en venta solo en Japón). 
                    <br>
                    <br>
                    Finalmente, si te gustan las actividades naturales, puedes ver los cerezos en flor o asistir a las visitas guiadas por el Monte Fuji y sus alrededores.
                </p>
            </div>

            <div class="imagen_geisha">
                <img src="{{ url_for('static', filename='imagenes/jonge mooie echte geisha in kimono met sakura en decoratie.jpg')}}"/>
            </div>
        </section>

        <!--Código del carrusel de fotos-->
        <section id="seccion_3" class="carrusel">
            <div class="container_3">
                <div class="mySlides fade">
                    <div class="numbertext">1 / 10</div>
                    <img src="{{ url_for('static', filename='imagenes/mt-fuji-anadolu.jpg')}} " style="width:100%">
                    <div class="text">El Monte Fuji, el pico más alto de todo Japón</div>
                </div>
              
                <div class="mySlides fade">
                    <div class="numbertext">2 / 10</div>
                    <img src="{{ url_for('static', filename='imagenes/3908_top.jpg')}}" style="width:100%">
                    <div class="text">Templo Kinkaku-ji (o Rokuon-ji) en Kioto</div>
                </div>
              
                <div class="mySlides fade">
                    <div class="numbertext">3 / 10</div>
                    <img src="{{ url_for('static', filename='imagenes/IMG_1105HDR-Edit-Edit-Edit-Edit-Edit.jpg')}}" style="width:100%">
                    <div class="text">El santuario sintoísta Itsukushima</div>
                </div>
              
                <div class="mySlides fade">
                    <div class="numbertext">4 / 10</div>
                    <img src="{{ url_for('static', filename='imagenes/930x0_pagekidsfamily_2_865857.jpg')}}" style="width:100%">
                    <div class="text">Hakone Open Air Museum</div>
                </div>
              
                <div class="mySlides fade">
                    <div class="numbertext">5 / 10</div>
                    <img src="{{ url_for('static', filename='imagenes/6826733651_da378ffb92_z.jpg')}}" style="width:100%">
                    <div class="text">Preparativos para la ceremonia del té</div>
                </div>
              
                <div class="mySlides fade">
                    <div class="numbertext">6 / 10</div>
                    <img src="{{ url_for('static', filename='imagenes/Samurai-armor.jpg')}}" style="width:100%">
                    <div class="text">Exhibición de armaduras samurái</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">7 / 10</div>
                    <img src="{{ url_for('static', filename='imagenes/studio-ghibli-museum-virtual-tour-01.jpg')}}" style="width:100%">
                    <div class="text">Museo Ghibli en Inokashira Park</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">8 / 10</div>
                    <img src="{{ url_for('static', filename='imagenes/623c460ee50a2382521520159d1715cf.jpg')}}" style="width:100%">
                    <div class="text">Festival de los cerezos del castillo de Fukuoka (parque Maizuru)  </div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">9 / 10</div>
                    <img src="{{ url_for('static', filename='imagenes/a0001911_parts_5a8bd049f3aeb.jpg')}}" style="width:100%">
                    <div class="text">Takoyaki, se acostumbra comerlo en festivales (comida callejera) </div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">10 / 10</div>
                    <img src="{{ url_for('static', filename='imagenes/img_index_002.jpg')}}" style="width:100%">
                    <div class="text">Tienda Jump Shop, vende mercancía de mangas famosos de la revista Shounen Jump</div>
                </div>


                <!-- Código de los botones para pasar las fotos -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
              <br>
              
              <!-- Código de los puntos del carrusel -->
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                    <span class="dot" onclick="currentSlide(6)"></span>
                    <span class="dot" onclick="currentSlide(7)"></span>
                    <span class="dot" onclick="currentSlide(8)"></span>
                    <span class="dot" onclick="currentSlide(9)"></span>
                    <span class="dot" onclick="currentSlide(10)"></span>
                </div>
            
        </section>

        <!--Código form mensajes-->
        <section class="mensajes">
            <div class="container-4">
                
                <h1 class="mensajes">¿Tienes dudas?</h1>
                <br>
                <h3 class="mensajes">Puedes dejarme tus dudas y comentarios en el siguiente espacio</h3>
                <br>
                <br>
                {% extends 'form.html' %}
                {% block form%}
                
            </div>

        </section>

        <!--Código sobre mí-->
        <section class="sobre-mi">
            <div class="container5">
                <h1 class="sobre-mi">Un poco sobre mí...</h1>
                <p class="personal">Mi nombre es Adriana Lisbeth Iraheta Castellón. Soy una joven salvadoreña de veinte años. Realizo mis estudios universitarios en la Escuela Superior de Economía y Negocios (ESEN).
                    Actualmente curso el tercer año de la carrera Ingeniería en Negocios.
                    <br>
                    <br>
                    Escogí exponer información sobre Japón porque mi sueño es conocerlo algún día. Soy fan del anime y crecí viendo series como Dragon Ball Z, Inuyasha, Ranma 1/2, 
                    Samurái X, entre muchos otros más. Todas las hermosas obras de animación que he consumido a lo largo de los años, despertaron poco a poco mi curiosidad por el
                    el país del sol naciente. Por eso quería compartir un poco sobre la cultura y las maravillas turísticas que puede ofrecer Japón, aún para las personas que no son fans de 
                    estos programas.
                    <br>
                    <br>
                    Si te gustó el diseño de esta página web y te interesa contactarme, mis redes sociales que se encuentran al final de la página.
                    También puedes dejar tu mensaje y tu correo en el formulario de arriba.
                    <br>
                    <br>
                    Mi cuenta de GitHub es @LisbethIraheta
                </p>
            </div>
            <img class="foto-personal" src="{{ url_for('static', filename='imagenes/WhatsApp Image 2022-03-25 at 8.53.15 PM.jpeg')}}" style="width:100%">
        </section>
  

        <!--Código sección de redes sociales-->
        <section class="redes">
            <h3 class="redes_sociales">Mis redes sociales</h3>
            <p class="direcciones">Instagram: @lisbethirahetac
              <br>
              <br>
              Twitter: @LisbethIrahetaC
            </p>
          </section>




    </main>
    <script src="{{url_for('static', filename='carrusel.js')}}"></script>
            {% endblock %}
</body>
</html>
