<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visita Japón</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css' ) }}">
</head>
<body>
    <!--Código barra de navegación-->
    <header>
        <div class="container_1">
            <h2><span>CONOCE </span>Japón</h2>
            <nav class="nav">
                <div class="barra-nav">
                    <a href="#" class="link_barra">Inicio</a>
                    <a href="#" class="link_barra">Conoce más</a>
                    <a href="#" class="link_barra">Fotos</a>
                    <a href="#" class="link_barra">De interés</a>
                    <a href="#" class="link_barra">Contáctanos</a>
                    <a href="#" class="link_barra">Autor</a>
                </div>
            </nav>
        </div>
    </header>

</body>
</html>
