<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visita Japón</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css' ) }}">
</head>
<body>
    <!--Código barra de navegación-->
    <header>
        <div class="container_1">
            <h2><span>CONOCE </span>Japón</h2>
            <nav class="nav">
                <div class="barra-nav">
                    <a href="#" class="link_barra">Inicio</a>
                    <a href="#" class="link_barra">Conoce más</a>
                    <a href="#" class="link_barra">Fotos</a>
                    <a href="#" class="link_barra">De interés</a>
                    <a href="#" class="link_barra">Contáctanos</a>
                    <a href="#" class="link_barra">Autor</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <!--Código página de Inicio-->
        <section id="seccion_1" class="banner-inicio">
            <div class="parrafo">
                <h1 class="parte1">Viaja ahora al<br class="hide-mob" />
                    <span class="parte2">país del sol naciente</span></h1>
                <br>
                <h3 class="parte3">Descubre más sobre este hermoso país a continuación</h3>
            </div>
        </section>
    
        <!--Código de la presentación-->
        <section id="seccion_2" class="introduccion">
            <div class="container_2">
                <h1 class="titulo_intro">Simplemente Japón</h1>
                <p class="presentacion">Japón es un país muy rico en cultura, gastronomía, historia y anime. La tierra de las geishas y los samurái tiene mucho para ofrecer a los turistas, por lo que nunca te faltará qué hacer durante tu estadía. 
                    <br>
                    <br>
                    Aprovecha para visitar uno de los muchos templos del país. Dentro de los templos es común encontrar una combinación entre las creencias sintoístas y budístas propia de Japón. Estás grandes construcciones con sus pagodas y estatuas pueden brindarte una gran experiencia espiritual muy completa. Además, siguiendo con la parte cultural,
                    puedes aprender sobre las geishas y la historia de los samurái.
                    <br>
                    <br>
                    Por otro lado, si lo tuyo es más el anime, puedes visitar las distintas tiendas oficiales. Una de las ventajas de estas tiendas es que puedes encontrar productos oficiales de tus animes favoritos, como One Piece, Dragon Ball, Naruto y Pokemón, (mucha de la mercancía las encontrarás en venta solo en Japón). 
                    <br>
                    <br>
                    Finalmente, si te gustan las actividades naturales, puedes ver los cerezos en flor o asistir a las visitas guiadas por el Monte Fuji y sus alrededores.
                </p>
            </div>

            <div class="imagen_geisha">
                <img src="{{ url_for('static', filename='imagenes/jonge mooie echte geisha in kimono met sakura en decoratie.jpg')}}"/>
            </div>
    </main>

</body>
</html>
